<div class="row">
    <div class="col-lg">
        <div class="column-text-left craft-text">
            <h2>What We Do</h2>
            <h6>Professional software services for businesses of all sizes, including but not limited to:</h6>
            <ul>
                <li>Web applications</li>
                <li>Mobile applications, iOS and Android</li>
                <li>Website development/upgrading legacy sites</li>
                <li>Data conversions</li>
                <li>Security and PEN testing</li>
                <li>General software consulting</li>
            </ul>
        </div>
    </div>
    <div class="col-lg">
        <div class="jumbotron">
            <div class="container text-center">
                <a href="/"><img class="logo-image-column img-responsive center-block" src="images/color_logo_transparent.png" alt="ACS Logo"></a>
            </div>
        </div>
    </div>
</div>