<div class="jumbotron">
    <div class="container text-center">
        <a href="/"><img class="logo-image img-responsive center-block" src="images/color_logo_transparent.png" alt="ACS Logo"></a>
    </div>
</div>

<div class="container craft-text">
    <div class="row">
        <div class="col-md-4">
            <h2>What We Do</h2>
            <p>Custom software engineering and technology solutions to serve individuals and businesses with efficient and high quality user experiences.</p>
            <a class="btn btn-secondary" href="about" role="button">Learn more</a>
        </div>
        <div class="col-md-4">
            <h2>What We've Created</h2>
            <p>We love building scalable software, and have worked with a wide variety of customers and technologies. ACS is confident we can provide direction and/or build applications to fit your needs.</p>
            <a class="btn btn-secondary" href="projects" role="button">View projects</a>
        </div>
        <div class="col-md-4">
            <h2>Contact Us</h2>
            <p>Wish to learn more about ACS, receive scoping on a project, or software consulting for your business? Please reach out to us 24/7 for more information.</p>
            <a class="btn btn-secondary" href="contact" role="button">View details</a>
        </div>
    </div>
    <br>
</div>