<div class="jumbotron">
    <div class="container text-center">
        <a href="/"><img class="logo-image img-responsive center-block" src="images/color_logo_transparent.png" alt="ACS Logo"></a>
    </div>
</div>

<div class="container craft-text">
    <div class="right tomster"></div>
    <h2>What We've Created</h2>
    <p>Page under construction</p>
</div>